@* @model mvstwo.Models.Cok; *@
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<h2>Результаты тестирования по теме: Паттерны проектирования</h2>
<table style="background-color:white;">
    <tbody>
        <tr>
            <td>Студент</td>
            <td>Количество баллов</td>
            <td>Затраченное время</td>
            <td>Оценка</td>
        </tr>
        <tr>
            <td>Иван Фёдоров</td>
            <td>5</td>
            <td>04:24</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Максим Иванович</td>
            <td>9</td>
            <td>03:51</td>
            <td>5</td>
        </tr>

    </tbody>
</table>