@model mvstwo.Models.User;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Цифровой образовательный контент «Оренбургский колледж экономики и информатики»</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="container">
                <div class="inner2">
                    <nav>
                        <img src="/image/logo.png" width="80" height="46" alt="">
                    </nav>
                    <h1 >Цифровой образовательный контент</h1>
                    <div class="login">
                    </div>
                    <div class="menu">
                        <span style="font: size 40px;cursor:pointer; color: #2e57ed;margin-left: auto;"
                            onclick="openNav()">☰</span>
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                            <a asp-controller="Access" asp-action="Login">Главная</a>
                            <a href="#" onclick="document.getElementById('openModalr').style.display='block'">
                                Войти в
                                систему
                            </a>
                        </div>
                    </div>
                    <script type="text/javascript" src="/app.js">   </script>
                </div>
                <!-- Модальное окно -->
                <div id="openModalr" class="modalr">
                    <!-- Кнопка для закрытия модального окна -->
                    <span onclick="document.getElementById('openModalr').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <!-- Содержимое модального окна -->
                    <form class="modalr-content" asp-controller="Access" asp-action="Login" method="post">
                        <div class="imgcontainer">
                            <img src="../image/logo.png" alt="Logo" class="logo">
                        </div>
                        <div class="conta">
                            <div class="contname">
                                <!-- Поле ввода логина -->
                                <label for="uname"><b>Логин</b></label>
                                <input type="text" placeholder="Введите Логин" asp-for="Login" name="Login" required>
                            </div>
                            <!-- Поле ввода пароля -->
                            <div class="password">
                                <label for="psw"><b>Пароль</b></label>
                                <input type="password" id="password-input" asp-for="Password" placeholder="Введите пароль" required
                                    name="password">
                                <a href="#" class="password-control"
                                    onclick="return show_hide_password(this);"></a>
                            </div>
                            <!-- Кнопка для отправки формы -->
                            <button type="submit">Вход</button>
                            @if(ViewData["ValidateMessage"] != null)
                            {
                                <br />
                                <label>@ViewData["ValidateMessage"]</label>
                            }
                            <!-- Флажок  -->
                            <label>
                                <input type="checkbox" checked="checked" asp-for="KeepLoggedIn" name="remember"> Запомнить пароль
                            </label>
                            <div class="contain" style="background-color:#f1f1f1">
                                <!-- Ссылка на восстановление пароля -->
                                <span class="psw">Восстановить <a href="#">пароль?</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>
    </div>

    <footer class="footer">
        <div class="pagination_loader" style="position:fixed; bottom:65px; right:10px">
        </div>
        <div id="up">&#10148;</div>
    </footer>
    <div class="preloader"><img src="/image\ob\ajax-loader.gif"></div>
    <script>
        var upElem = document.getElementById('up');
        var pageYLabel = 0;
        var timeDuration;

        upElem.onclick = function () {
            var pageY = window.pageYOffset || document.documentElement.scrollTop;
            switch (this.className) {
                case 'up':
                    pageYLabel = pageY;
                    smoothScrolling();
                    this.className = '';
                    break;

                case '':
                    window.scrollTo(0, pageYLabel);
                    this.className = 'up';
            }
        };

        window.onscroll = function () {
            var pageY = window.pageYOffset || document.documentElement.scrollTop;
            var innerHeight = document.documentElement.clientHeight;

            switch (upElem.className) {
                case '':
                    rowLength = $('.test_row').length;
                    if (rowLength > $('.student_elem.active').length) {
                        rowLength = $('.student_elem.active').length;
                    }
                    if (pageY > innerHeight) {
                        upElem.className = 'up';
                        if ($('.test_row').length != 0) {
                            $('.pagination_loader').html(rowLength + ' из ' + $('.student_elem.active').length)
                            $('.pagination_loader').show();
                        }
                    }
                    break;

                case 'up':
                    if (pageY < innerHeight) {
                        upElem.className = '';
                        $('.pagination_loader').hide();
                    }
                    break;
            }
        };

    </script>
</body>

</html>
