@model mvstwo.Model.User;
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Добро пожаловать в цифровой образовательный контент колледжа ОКЭИ!">
    <meta name="description" content="">
    <title>Главная</title>
    <link rel="stylesheet" href="/iexplore/nicepage.css" media="screen">
    <link rel="stylesheet" href="/iexplore/Главная.css" media="screen">
    <script class="u-script" type="text/javascript" src="/iexplore/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/iexplore/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 6.10.5, nicepage.com">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">



    <script type="application/ld+json">
        {
                @* "@context": "http://schema.org",
                "@type": "Organization",
                "name": "" *@
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-home-page="Главная.html" data-home-page-title="Главная" data-path-to-root="./" data-include-products="true" class="u-body u-xl-mode" data-lang="ru">
    <section class="u-clearfix u-section-1" id="carousel_9c8d">
        <div class="u-custom-color-1 u-expanded-height u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-image u-image-contain u-image-default u-image-1" src="/iexplore/images/logo.png" alt="" data-image-width="600" data-image-height="380">
        <div class="data-layout-selected u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-left-cell u-size-24 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-custom-font u-font-oswald u-text u-text-1"> Добро пожаловать в цифровой образовательный контент колледжа ОКЭИ!</h2>
                            <p class="u-text u-text-2"> Перейдите к странице авторизации, чтобы получить доступ к учебным ресурсам и материалам.</p>
                            <a href="#" onclick="document.getElementById('openModalr').style.display='block'" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-dark-1 u-radius u-btn-1">Авторизироваться </a>
                            <div class="u-container-style u-group u-image u-image-tiles u-image-2" data-image-width="100" data-image-height="60">
                                <div class="u-container-layout u-container-layout-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-right-cell u-size-36 u-layout-cell-2">
                        <div class="u-container-layout">
                            <img class="custom-expanded u-image u-image-3" src="/iexplore/images/724g.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="openModalr" class="modalr">
        <!-- Кнопка для закрытия модального окна -->
        <span onclick="document.getElementById('openModalr').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <!-- Содержимое модального окна -->
        <form class="modalr-content" asp-controller="Access" asp-action="Login" method="post">
            <div class="imgcontainer">
                <img src="../image/logo.png" alt="Logo" class="logo">
            </div>
            <div class="conta">
                <div class="contname">
                    <!-- Поле ввода логина -->
                    <label for="uname"><b>Логин</b></label>
                    <input type="text" placeholder="Введите Логин" asp-for="Login" name="Login" required>
                </div>
                <!-- Поле ввода пароля -->
                <div class="password">
                    <label for="psw"><b>Пароль</b></label>
                    <input type="password" id="password-input" asp-for="Password" placeholder="Введите пароль" required
                           name="password">
                    <a href="#" class="password-control"
                       onclick="return show_hide_password(this);"></a>
                </div>
                <!-- Кнопка для отправки формы -->
                <button type="submit">Вход</button>
                @if (ViewData["ValidateMessage"] != null)
                {
                    <br />
                    <label>@ViewData["ValidateMessage"]</label>
                }
                <div class="contain" style="background-color:#f1f1f1">
                    <!-- Ссылка на восстановление пароля -->
                    <span class="psw">Восстановить <a href="#">пароль?</a></span>
                </div>
            </div>
        </form>
    </div>


</body>
</html>